@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to bottom, #000000, #070002, #0c0006, #0f000c, #100011, #130115, #150219, #16041d, #1a0521, #1e0625, #220629, #27052d);
  color: #fff;
}

.lists{
  margin-top: -140px;
}

.ative{
  background-color: red;
}

footer{
  margin: 50px 0;
  text-align: center;
}